<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/travelPlanner.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
       <title>Travel Planning Service</title>
    <style>
        body {
            background-color: #b3d7ff;
            color: black;
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: 100%;
        }
    </style>
</head>
<body>
<a href="/travelPlanner">Back to user page</a><b> | </b>
<a href="/adminTravelPlanner/cityInfo">City Info</a><b> | </b>
<a href="/adminTravelPlanner/countryInfo">Country Info</a><b> | </b>
<a href="/adminTravelPlanner/hotelInfo">Hotel Info</a><b> | </b>
<a href="/adminTravelPlanner/userInfo">User Info</a>

<h1 align="center">Travel Planner</h1>

</body>
</html>