<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Travel Planning Service</title>
    <style>
        body {
            background-image: url("https://www.zg66.ru/images/2019/10/31/nerabota.jpg");
            color: darkslateblue;
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: 100%;
        }
    </style>
</head>
<body>
<div style="text-align: center">
    <div style="text-align: center">
        <form method="post" th:action="@{/perform_login}">
            <input name="${_csrf.parameterName}" value="${_csrf.token}" type="hidden">
            <span class="login100-form-title">
                Login
            </span>

            <!--<div th:if="${error!=null}">
                <span style="background-color: red"><strong>Incorrect login or password</strong></span>
            </div>-->

            <p></p>
            <div data-validate="Username is required">
                <input type="text" name="username" placeholder="Username">
                <span></span>
            </div>

            <p></p>
            <div data-validate="Password is required">
                <input type="password" name="password" placeholder="Password">
                <span></span>
            </div>

            <p></p>
            <div>
                <button>
                    Login
                </button>
            </div>
            <p></p>
            <div style="text-align: center">
            You have not login? <a href="/registration">Registration</a>
            </div>
            <p></p>
            <div>
                <a href="/">
                    Logout
                </a>
            </div>
        </form>
    </div>
</div>
</body>
</html>