<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Travel Planner</title>
    </head>
<body>
<div style="text-align: center"  >
    <div style="text-align: center" >
        <form method="post" action="/registration">
            Username
            <div data-validate="Please enter username">
                <input id="username" type="text" name="username" placeholder="Username">
                <span></span>
            </div>

            Password
            <div data-validate="Please enter password">
                <input id="password" type="password" name="password" placeholder="Password">
                <span></span>
            </div>

            Firstname
            <div data-validate = "Please enter firstname">
                <input id="firstname"  type="text" name="firstname" placeholder="Firstname">
                <span ></span>
            </div>

            Lastname
            <div data-validate = "Please enter lastname">
                <input id="lastname"  type="text" name="lastname" placeholder="Lastname">
                <span ></span>
            </div>

            <button id="button_registr" type="submit">Registration</button>
        </form>
    </div>
</div>
</div>
</body>
</html>