<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/travelPlanner.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
       <title>Travel Planning Service</title>
    <style>
        body {
            background-color: #b3d7ff;
            color: darkslateblue;
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: 100%;
        }
    </style>
</head>
<body>
<h1 align="center">Travel Planner</h1>
<!--меню с вкладками -->
<ul id="menu">
    <li id="hotelsearch" class="tab_active" onclick="tab(this);">Поиск отелей</li>
    <li id="timetable" onclick="tab(this);">Расписание</li>
    <li id="budget" onclick="tab(this);">Бюджет</li>
</ul>

<!--контейнер со страницами -->
<div id="container">
        <div id="hotelsearch_content" class="tab_content visible">
            <div class="row">
                <div class="col-75">
                    <input type="text" id="country" name="country" placeholder="Выберите страну...">
                </div>
            </div>
            <div class="row">
                <div class="col-75">
                    <input type="text" id="city" name="city" placeholder="Выберите город...">
                </div>
            </div>
            <div class="row">
                <div class="col-75">
                    <select class="custom-select">
                        <option value="0">Выберите класс отеля:</option>
                        <option value="1">1*</option>
                        <option value="2">2*</option>
                        <option value="3">2+*</option>
                        <option value="4">3*</option>
                        <option value="5">3+*</option>
                        <option value="6">4*</option>
                        <option value="7">4+*</option>
                        <option value="8">5*</option>
                        <option value="9">5+*</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <br>
                <input id="inputSearch" type="submit" value="Найти">
            </div>
        </div>

    <div id="timetable_content" class="tab_content">
        <form th:action="@{/travelPlanner}" th:object="${newEvent}" method="post">
            <div class="row-timetable">
                <input id="eventName" type="text" autocomplete="off" name="eventName" placeholder="Например, Централ Парк">
                <input id="eventDate" type="date" name="eventDate">
                <input id="eventTime" type="time" name="eventTime">
            </div>
            <div class="row">
                <button id="eventAdd" type="submit">Добавить</button>
            </div>
            <div>
                <table border="1">
                    <tr>
                        <th>Name of event</th>
                        <th>Date of event</th>
                        <th>Time of event</th>
                        <th>Action</th>
                    </tr>
                    <tr th:each ="event:${events}">
                        <td th:utext="${event.eventName}"></td>
                        <td th:utext="${event.eventDate}"></td>
                        <td th:utext="${event.eventTime}"></td>
                        <td><a th:href="@{travelPlanner/{id}(id=${event.id})}">Delete</a></td>
                    </tr>
                </table>
            </div>
        </form>

    </div>
    <div id="budget_content" class="tab_content">
        Бюджет
    </div>
</div>

<script>
    function tab(el) {
        var menu=el.parentNode;                                        //Получить список вкладок
        var tabs=menu.getElementsByTagName('li');
        for(var i=0; i<tabs.length; i++){
            var tab=tabs[i];                                           //Вкладка
            var content=document.getElementById(tab.id + '_content');  //Блок контента
            if(tab.id==el.id){                                         //Вкладка по которой кликнули мышкой
                tab.className='tab_active';                            //сделать вкладку активной
                if(content){                                           //показать связанный с ней блок контента
                    content.className='tab_content visible';
                }
            }
            else {
                tab.className='';                                     //сделать вкладку неактивной
                if(content) {
                    content.className='tab_content';                  //скрыть связанный с ней блок контента
                }
            }
        }
    }

</script>
</body>
</html>