<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/user_page.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
       <title>Travel Planning Service</title>
    <style>
        body {
            background-color: #b3d7ff;
            color: darkslateblue;
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: 100%;
        }
    </style>
</head>
<body>
<h1 align="center">Travel Planner</h1>
<!--меню с вкладками -->
<ul id="menu">
    <li id="hotelsearch" class="tab_active" onclick="tab(this);">Поиск отелей</li>
    <li id="timetable" onclick="tab(this);">Расписание</li>
    <li id="money" onclick="tab(this);">Бюджет</li>
</ul>

<!--контейнер со страницами -->
<div id="container">
    <div id="hotelsearch_content" class="tab_content visible">
        <form action="@{user_page}" method="post">
            <div class="row">
                <div class="col-75">
                    <input type="text" id="country" name="country" placeholder="Выберите страну...">
                </div>
            </div>
            <div class="row">
                <div class="col-75">
                    <input type="text" id="city" name="city" placeholder="Выберите город...">
                </div>
            </div>
            <div class="row">
                <div class="col-75">
                    <input type="text" id="hotelclass" name="hotelclass" placeholder="Выберите класс отеля...">
                </div>
            </div>
            <div class="row">
                <br>
                <input type="submit" value="Найти">
            </div>
        </form>
    </div>
    <div id="timetable_content" class="tab_content">
        <form id="addWishListItem" novalidate="novalidate">
            <div class="fieldInput">
                <input type="text" autocomplete="off" name="name" data-rule-eventnamerequired="true" placeholder="Например, Музей">
            </div>
            <input type="submit" value class="submit">
        </form>
    </div>
    <div id="money_content" class="tab_content">
        Бюджет
    </div>
</div>

<script>
    function tab(el) {
        var menu=el.parentNode;                                        //Получить список вкладок
        var tabs=menu.getElementsByTagName('li');
        for(var i=0; i<tabs.length; i++){
            var tab=tabs[i];                                           //Вкладка
            var content=document.getElementById(tab.id + '_content');  //Блок контента
            if(tab.id==el.id){                                         //Вкладка по которой кликнули мышкой
                tab.className='tab_active';                            //сделать вкладку активной
                if(content){                                           //показать связанный с ней блок контента
                    content.className='tab_content visible';
                }
            }
            else {
                tab.className='';                                     //сделать вкладку неактивной
                if(content) {
                    content.className='tab_content';                  //скрыть связанный с ней блок контента
                }
            }
        }
    }
</script>
</body>
</html>